@import "tailwindcss";
@import "tailwindcss";


/* Color Variables */
:root {
    --color-green: #BDFF00;
    --color-purple: #C209C1;
    --color-blue: #1B1F3B;
  }

@font-face {
    font-family: 'General Sans';
    src: url('/fonts/GeneralSans-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('/fonts/GeneralSans-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('/fonts/GeneralSans-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'General Sans';
    src: url('/fonts/GeneralSans-Light.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Jakarta Sans';
    src: url('/fonts/Jakarta-Sans/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Set as default font */
body {
    background-color: #F7F8F8;
    font-family: 'General Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

